<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="pageheader-title">{{objectAction}} chức vụ </h2>
      <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="['/home']" class="breadcrumb-link">Trang
                chủ</a></li>
            <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="['/quan-tri/chuc-vu']"
                class="breadcrumb-link">Chức vụ</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{objectAction}} chức vụ
              {{chucvuDetail?.ten_chuc_vu}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- ============================================================== -->
  <!-- validation form -->
  <!-- ============================================================== -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <h5 class="card-header">Nhập thông tin chức vụ vào bên dưới</h5>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.getRawValue())">
          <div class="form-group">
            <label>Tên Chức vụ</label>
            <input type="text" formControlName="ten_chuc_vu" [ngModel]="chucvuDetail?.ten_chuc_vu" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ten_chuc_vu.errors }" />
            <div *ngIf="submitted && !!f.ten_chuc_vu.errors" class="invalid-feedback">
              <div *ngIf="!!f.ten_chuc_vu.errors.required">Thông tin này bắt buộc</div>
            </div>
          </div>
          <div class="form-group">
            <a class="btn btn-brand mr-1" [routerLink]="['/quan-tri/chuc-vu']" routerLinkActive="router-link-active"><i
                class="fas fa-arrow-circle-left"></i> Quay lại</a>
            <button class="btn btn-primary"><i class="fas fa-edit"></i> {{objectAction}} chức vụ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end validation form -->
  <!-- ============================================================== -->
</div>