<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="pageheader-title">{{objectAction}} cán bộ </h2>
      <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="['/home']" class="breadcrumb-link">Trang
                chủ</a></li>
            <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="['/quan-tri/can-bo']"
                class="breadcrumb-link">Cán bộ</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{objectAction}} cán bộ
              {{canBoDetail?.ho_va_chu_lot}} {{canBoDetail?.ten}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- ============================================================== -->
  <!-- validation form -->
  <!-- ============================================================== -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <h5 class="card-header">Nhập thông tin cán bộ vào bên dưới</h5>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Họ tên</label>
                <input type="text" formControlName="ho_ten" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.ho_ten.errors }" />
                <div *ngIf="submitted && !!f.ho_ten?.errors" class="invalid-feedback">
                  <div *ngIf="!!f.ho_ten.errors.required">Thông tin này bắt buộc</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Ngày sinh</label>
                <div class="input-group">
                  <input type="text" formControlName="ngay_sinh" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.ngay_sinh.errors }" ngbDatepicker #d="ngbDatepicker" />
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" (click)="d.toggle()" type="button"><i
                        class="fas fa-calendar-alt"></i></button>
                  </div>
                  <div *ngIf="submitted && !!f.ngay_sinh.errors" class="invalid-feedback">
                    <div *ngIf="!!f.ngay_sinh.errors.required">Thông tin này bắt buộc</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group pt-4">
                <label class="pt-2 pr-2">Giới tính:</label>
                <label class="custom-control custom-radio custom-control-inline">
                  <input type="radio" [value]="false" formControlName="gioi_tinh" class="custom-control-input"><span
                    class="custom-control-label">Nam</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                  <input type="radio" [value]="true" formControlName="gioi_tinh" class="custom-control-input"><span
                    class="custom-control-label">Nữ</span>
                </label>
                <div *ngIf="submitted && !!f.gioi_tinh.errors" class="invalid-feedback">
                  <div *ngIf="!!f.gioi_tinh.errors.required">Thông tin này bắt buộc</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Quê quán</label>
                <input type="text" formControlName="que_quan" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.que_quan.errors }" />
                <div *ngIf="submitted && !!f.que_quan.errors" class="invalid-feedback">
                  <div *ngIf="!!f.que_quan.errors.required">Thông tin này bắt buộc</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
                  <div *ngIf="!!f.email.errors.required">Thông tin này bắt buộc</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="input-select">Chức vụ</label>
                <select class="form-control custom-select" id="input-select" formControlName="ma_chuc_vu"
                  [ngClass]="{ 'is-invalid': submitted && f.ma_chuc_vu.errors }">
                  <option *ngFor="let cv of listChucVu" [value]="cv.ma_chuc_vu">{{cv.ten_chuc_vu}}</option>
                </select>
                <div *ngIf="submitted && !!f.ma_chuc_vu.errors" class="invalid-feedback">
                  <div *ngIf="!!f.ma_chuc_vu.errors.required">Thông tin này bắt buộc</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="input-select">Đơn vị</label>
                <select class="form-control custom-select" id="input-select" formControlName="ma_don_vi"
                  [ngClass]="{ 'is-invalid': submitted && f.ma_don_vi.errors }">
                  <option *ngFor="let cb of listDonVi" [value]="cb.ma_don_vi">{{cb.loai_don_vi}} {{cb.ten_don_vi}}
                  </option>
                </select>
                <div *ngIf="submitted && !!f.ma_don_vi.errors" class="invalid-feedback">
                  <div *ngIf="!!f.ma_don_vi.errors.required">Thông tin này bắt buộc</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="input-select">Nhóm người dùng</label>
                <select class="form-control custom-select" id="input-select" formControlName="ma_quyen"
                  [ngClass]="{ 'is-invalid': submitted && f.ma_quyen.errors }">
                  <option *ngFor="let cb of listQuyen" [value]="cb.ma_quyen">{{cb.ten_quyen}}
                  </option>
                </select>
                <div *ngIf="submitted && !!f.ma_quyen.errors" class="invalid-feedback">
                  <div *ngIf="!!f.ma_quyen.errors.required">Thông tin này bắt buộc</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <a class="btn btn-brand mr-1" [routerLink]="['/quan-tri/can-bo']">
              <i class="fas fa-arrow-circle-left"></i> Quay lại
            </a>
            <button class="btn btn-primary"><i class="fas fa-edit"></i> {{objectAction}} cán bộ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end validation form -->
  <!-- ============================================================== -->
</div>