<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="pageheader-title">{{objectAction}} hội đồng </h2>
      <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="['/home']" class="breadcrumb-link">Trang
                chủ</a></li>
            <li class="breadcrumb-item" routerLinkActive="active"><a [routerLink]="['/hoi-dong']"
                class="breadcrumb-link">Hội đồng</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{objectAction}} hội đồng
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- ============================================================== -->
  <!-- validation form -->
  <!-- ============================================================== -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <h5 class="card-header">Nhập thông tin lần lượt theo các bước dưới đây để tiến hành thành lập hội đồng</h5>
      <div class="card-body">
        <aw-wizard>
          <aw-wizard-step stepTitle="Thông tin chung">
            <hr>
            <p class="font-bold"><i class="fas fa-hand-point-right"></i> Bước 1/3: Nhập thông tin chung:</p>
            <form [formGroup]="frmTTC" (ngSubmit)="submitTTC()">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="input-select">Năm học</label>
                    <ng-multiselect-dropdown name="namhoc" [data]="listNamHoc" formControlName="ma_nam_hoc"
                      [settings]="namHocSettings">
                    </ng-multiselect-dropdown>
                    <div *ngIf="submittedTTC && !!fTTC.ma_nam_hoc?.errors" class="invalid-feedback">
                      <div *ngIf="!!fTTC.ma_nam_hoc.errors.required">Thông tin này bắt buộc</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-sm btn-primary" id="btnThemNamHoc" placement="top"
                    ngbTooltip="Thêm năm học" data-toggle="modal" data-target="#mdNH"><i
                      class="fas fa-plus-circle"></i></button>
                  <div class="modal fade" #modalNamHoc id="mdNH">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Thêm năm học</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                          <p>{{message}}</p>
                          <app-nam-hoc-edit (messageEvent)="receiveMessageFromNamHoc($event)"></app-nam-hoc-edit>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Số QĐ</label>
                    <input type="text" formControlName="so_quyet_dinh" class="form-control"
                      [ngClass]="{ 'is-invalid': submittedTTC && fTTC.so_quyet_dinh.errors }" />
                    <div *ngIf="submittedTTC && !!fTTC.so_quyet_dinh.errors" class="invalid-feedback">
                      <div *ngIf="!!fTTC.so_quyet_dinh.errors.required">Thông tin này bắt buộc</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Ngày ký</label>
                    <div class="input-group">
                      <input type="text" formControlName="ngay_ky" class="form-control"
                        [ngClass]="{ 'is-invalid': submittedTTC && fTTC.ngay_ky.errors }" ngbDatepicker
                        #d="ngbDatepicker" />
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" (click)="d.toggle()" type="button"><i
                            class="fas fa-calendar-alt"></i></button>
                      </div>
                      <div *ngIf="submittedTTC && !!fTTC.ngay_ky.errors" class="invalid-feedback">
                        <div *ngIf="!!fTTC.ngay_ky.errors.required">Thông tin này bắt buộc</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <a class="btn btn-brand mr-1" [routerLink]="['/hoi-dong']" routerLinkActive="router-link-active"><i
                    class="fas fa-arrow-circle-left"></i> Quay lại</a>
                <button class="btn btn-primary mr-1"><i class="fas fa-edit"></i> Tạo hội đồng </button>
                <!-- <button class="btn btn-success" type="button" awNextStep>Tiếp theo <i
                    class="fas fa-arrow-circle-right"></i></button> -->
              </div>
            </form>
          </aw-wizard-step>
          <aw-wizard-step stepTitle="Thêm căn cứ">
            <hr>
            <p class="font-bold"><i class="fas fa-hand-point-right"></i> Bước 2/3: Bổ sung thông tin căn cứ chung và
              riêng cho hội đồng mới tạo:</p>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Căn cứ chung:</label>
                  <angular2-multiselect [data]="listCanCuChung" 
                  [(ngModel)]="selectCanCuChung" 
                  [settings]="CanCuSetting">
                </angular2-multiselect>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label>Căn cứ riêng:</label>
                  <angular2-multiselect [data]="listCanCuRieng" 
                      [(ngModel)]="selectCanCuRieng" 
                      [settings]="CanCuSetting">
                  </angular2-multiselect>
                  
                </div>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-primary" id="btnThemNamHoc" placement="top"
                  ngbTooltip="Thêm căn cứ riêng" data-toggle="modal" data-target="#mdCCR"><i class="fas fa-plus-circle"></i></button>
                <div class="modal fade" #modalCanCuRieng id="mdCCR">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Thêm căn cứ riêng</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        <p>{{message}}</p>
                        <app-can-cu-edit (messageEvent)="receiveMessageFromCanCuRieng($event)"></app-can-cu-edit>
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-brand mr-1" awPreviousStep><i class="fas fa-arrow-circle-left"> </i>
              Quay lại</button>
            <button class="btn btn-primary mr-1" (click)="capnhatCanCu()"><i class="fas fa-edit"></i> Cập nhật căn cứ </button>
            <!-- <button type="button" class="btn btn-success" awNextStep>Tiếp theo <i
                class="fas fa-arrow-circle-right"></i></button> -->
          </aw-wizard-step>
          <aw-wizard-step stepTitle="Thành viên hội đồng">
            <hr>
            <p class="font-bold"><i class="fas fa-hand-point-right"></i> Bước 3/3: Cập nhật danh sách thành phần hội đồng <span *ngIf="namHoc!==''">năm học {{namHoc}}</span></p>
            <app-thanh-phan [idHoiDong]="maHoiDong" [NamHoc]="namHoc"></app-thanh-phan>
            <button type="button" class="btn btn-brand mr-1" awPreviousStep><i class="fas fa-arrow-circle-left"> </i>
              Quay lại</button>
            <a class="btn btn-primary mr-1"  [routerLink]="['/inqd-hoidong', maHoiDong]" ><i class="fas fa-print"></i> In quyết định </a>
            <!-- <button type="button" class="btn btn-success" awNextStep>Kiểm tra <i
              class="fas fa-arrow-circle-right"></i></button> -->
          </aw-wizard-step>
        </aw-wizard>
      </div>
    </div>
  </div>
</div>