<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="pageheader-title">Danh sách người dùng </h2>
      <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Người dùng</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <a class="btn btn-primary" [routerLink]="['/quan-tri/nguoi-dung/0']"><i class="fas fa-plus-circle"></i> Thêm mới</a>
    <!-- <button (click)="NewMessage()">change message</button>
    <p>{{messageDemo}}</p> -->
  </div>
</div>
<div class="table-responsive">
  <table #dataTable class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên đăng nhập</th>
        <th>Họ tên</th>
        <th>Email</th>
        <th>Cập nhật lần cuối</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <ngx-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-fussion">
        <p style="font-size: 20px; color: white">Đang tải...</p>
      </ngx-spinner>
      <tr *ngFor="let acc of accounts; let idx = index">
        <td>{{acc.uid}}</td>
        <td>{{acc.user_name}}</td>
        <td>{{acc.first_name}} {{acc.last_name}}</td>
        <td>{{acc.email}}</td>  
        <td>{{acc.updated_at|date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td class="py-1">
          <a class="btn btn-success mr-1" [routerLink]="['/quan-tri/nguoi-dung/',acc.uid]"><i class="fas fa-edit"></i></a>
          <a class="btn btn-danger" [swal]="deleteSwal" (confirm)="deleteAccount(acc.uid, idx)" ><i class="fas fa-trash-alt"></i></a>
          <swal #deleteSwal 
          title="Xác nhận xoá" 
          text="Bạn muốn xoá người dùng {{ acc.user_name }}?" 
          type="question" 
          [showCancelButton]="true" ></swal>
        </td>
      </tr>
    </tbody>
  </table>
</div>